<select id="race-select"
        class="race-select">
  <option value="middle-mountain-momma-2018">
    Middle Mountain Momma 2018
  </option>
  <option value="battle-at-blackhorse-2018">
    Battle at Blackhorse 2018
  </option>
  <option value="creature-from-carvins-cove-2017">
    Creature from Carvins Cove 2017
  </option>
  <option value="middle-mountain-momma-2017">
    Middle Mountain Momma 2017
  </option>
  <option value="creature-from-carvins-cove-2016">
    Creature from Carvins Cove 2016
  </option>
  <option value="middle-mountain-momma-2016">
    Middle Mountain Momma 2016
  </option>
</select>
