<div id="mtbva-results-table"
     class="mtbva-results-table">
  <div class="header-table">
    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Time</th>
        </tr>
      </thead>
    </table>
  </div>
  {{> "results/middle-mountain-momma-2018"}}
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script>
  window.mtbvaCurrentRace = "middle-mountain-momma-2018"

  $(function($) {
    function getResults(race) {
      if (!$.contains(document, $("#" + race + "-table")[0])) {
        $.ajax(
          window.location.protocol +
          "//" +
          window.location.host +
          "/api/results/" +
          race
        ).then(function(res) {
          var bodyTable = $("<div class=\"body-table\" id=\"" + race + "-table\">")
          JSON.parse(res).classes.forEach(function(clazz) {
            // var tableContainer = $("<div class=\"" + clazz.name + "-table\">")
            var classTitle = $("<h2 class=\"results-class-name\">").text(clazz.name)
            bodyTable.append(classTitle)
            var table = $("<table>")
            var tbody = $("<tbody>")
            clazz.riders.forEach(function(rider, i, arr) {
              tbody.append($("<tr>")
                .append(
                  $("<td>").text(i + 1),
                  $("<td>").text(rider.name),
                  $("<td>").text(rider.time)
                )
              )
            })
            table.append(tbody)
            bodyTable.append(table)
          })
          replaceResults(race, bodyTable)
        })
        // .catch(function(err) {
        // TODO: sentry
        // })
      }
    }

    function replaceResults(race, table) {
      var previousTable = $("#" + window.mtbvaCurrentRace + "-table")
      previousTable.css("visibility", "hidden")
      if (table) {
        // insert new table into DOM
        $("#mtbva-results-table .header-table").after(table)
      } else {
        // table is already in the DOM
        $("#" + race + "-table").css("display", "table")
        $("#" + race + "-table").css("visibility", "visible")
      }
      previousTable.css("display", "none")
      window.mtbvaCurrentRace = race
    }

    function updateResults() {
      var race = $("#race-select").val()
      if ($.contains(document, $("#" + race + "-table")[0])) {
        // selected by user again, show from DOM
        replaceResults(race)
      } else {
        // selected by user, GET and put in window cache
        getResults(race)
      }
    }

    // selected by user
    $("#race-select").on("change", function() {
      updateResults()
    })

    // // Keep table header sticky
    // $(window).on("load resize ", function() {
    //   var scrollWidth = $(".body-table").width() - $(".body-table table").width()
    //   $(".header-table").css({ "padding-right": scrollWidth })
    // }).resize()

    // first item in select list's table is always static
    var resultStr = $("#race-select").val().toLowerCase()
    resultStr = resultStr.split(" ").join("-")

    var queryStrArr = window.location.search.split("=")
    if (queryStrArr.length === 2) {
      // url query param
      $("#race-select").val(queryStrArr[1])
      getResults(queryStrArr[1])
    }
  })
  </script>
{{/contentFor}}


