<div class="header-table">
  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Time</th>
      </tr>
    </thead>
  </table>
</div>
<div class="body-table">

</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script>
  $(function($) {
    function getResults(race) {
      $.ajax(
        window.location.protocol +
        "//" +
        window.location.host +
        "/api/results/" +
        race
      ).then(function(res) {
        res.classes.forEach(function(clazz) {
          var tableContainer = $('<div class="' + clazz.name + '-table">')
          var classTitle = $("<h3 class=\"results-class-name\">").text(clazz.name)
          tableContainer.append(classTitle)
          var table = $("<table>")
          var tbody = $("<tbody>")
          clazz.riders.forEach(function(rider, i, arr) {
            tbody.append($("<tr>")
              .append(
                $("<td>").text(i + 1),
                $("<td>").text(rider.name),
                $("<td>").text(rider.time)
              )
            )
          })
          table.append(tbody)
          tableContainer.append(table)
          $("#mtbva-results-table .body-table").append(tableContainer)
        })
        window.mtbvaResults[$("#race-select").val()] = $("#mtbva-results-table")
      })
      // .catch(function(err) {
      // TODO: sentry
      // })
    }

    function replaceResults(race) {
      if (race) {
        $("#race-select").val(race)
      }
      $("#mtbva-results-table .body-table").remove()
      $("#mtbva-results-table").append(window.mtbvaResults[$("#race-select").val()])
    }

    function updateResults() {
      if (window.mtbvaResults[$("#race-select").val()]) {
        // selected by user again, load from window cache
        replaceResults()
      } else {
        // selected by user, GET and put in window cache
        getResults($("#race-select").val())
        replaceResults()
      }
    }

    // selected by user
    $("#race-select").on("change", function() {
      updateResults()
    })

    // Keep table header sticky
    $(window).on("load resize ", function() {
      var scrollWidth = $(".body-table").width() - $(".body-table table").width()
      $(".header-table").css({ "padding-right": scrollWidth })
    }).resize()

    if (window.location.href.indexOf("/results") !== -1) {
      // first item in select list's table is always static
      var resultStr = $("#race-select").val().toLowerCase()
      resultStr = resultStr.split(" ").join("-")
      window.mtbvaResults = {
        // resultStr: $("#mtbva-results-table div:first")
      }

      var queryStrArr = window.location.search.split("=")
      {
        if (queryStrArr.length === 2) {
          // url query param
          getResults(queryStrArr[1])
          replaceResults(queryStrArr[1])
        } else {
          updateResults()
        }
      }
    }
  })
  </script>
{{/contentFor}}


