<div class="author-links">
  {{#if strava}}
    <a href="{{strava}}"
       class="author-link-st">
      {{> "icons/strava"}}
    </a>
  {{/if}}
  {{#if facebook}}
    <a href="{{facebook_url}}"
       class="author-link-fb">
      {{> "icons/facebook"}}
    </a>
  {{/if}}
</div>