<div class="sponsors-container">
  <div class="sponsor blueridge-container">
    <a href="https://www.visitroanokeva.com/region/blue-ridge-mountains/">
      <img
        alt="blueridge"
        class="blueridge"
        src="/content/images/sponsors/va-blueridge.png">
    </a>
  </div>
  <div class="sponsor skolrood-container">
    <a href="https://www.skolrood.com/">
      <img alt="skolrood"
           class="skolrood"
           src="/content/images/sponsors/skolrood.png">
    </a>
  </div>
  <div class="sponsor parkway-container">
    <a href="http://parkwaybrewing.com/">
      <img alt="parkway"
           class="parkway"
           src="/content/images/sponsors/parkway.png">
    </a>
  </div>
  <div class="sponsor roanoke-outside-container">
    <a href="https://www.roanokeoutside.com/">
      <img alt="roanoke-outside"
           class="roanoke-outside"
           src="/content/images/sponsors/roanoke-outside.png">
    </a>
  </div>
  <div class="sponsor deschutes-container">
    <a href="https://www.deschutesbrewery.com/">
      <img alt="deschutes"
           class="deschutes"
           src="/content/images/sponsors/deschutes.png">
    </a>
  </div>
  <div class="sponsor starlight-container">
    <a href="https://www.starlightapparel.com/">
      <img alt="starlight"
           class="starlight"
           src="/content/images/sponsors/starlight.png">
    </a>
  </div>
  <div class="sponsor bath-container">
    <a href="http://discoverbath.com/">
      <img alt="bath"
           class="bath"
           src="/content/images/sponsors/bath.png">
    </a>
  </div>
  <div class="sponsor sbc-container">
    <a href="http://www.shenandoahbicycle.com/">
      <img alt="sbc"
           class="sbc"
           src="/content/images/sponsors/sbc.png">
    </a>
  </div>
  <div class="sponsor jtrg-container">
    <a href="http://justtherightgear.com/">
      <img alt="jtrg"
           class="jtrg"
           src="/content/images/sponsors/jtrg.png">
    </a>
  </div>
  <div class="sponsor east-coasters-container">
    <a href="https://eastcoasters.com/">
      <img alt="east-coasters"
           class="east-coasters"
           src="/content/images/sponsors/east-coasters.png">
    </a>
  </div>
  <div class="sponsor alleghany-container">
    <a href="http://www.visitalleghanyhighlands.com/main/index.php">
      <img
        alt="alleghany"
        class="alleghany"
        src="/content/images/sponsors/alleghany.png">
    </a>
  </div>
  <div class="sponsor blackwater-container">
    <a href="http://www.blackwaterbikeshop.com/">
      <img alt="blackwater"
           class="blackwater"
           src="/content/images/sponsors/blackwater.png">
    </a>
  </div>
  <div class="sponsor tavern-container">
    <a href="http://jackmasonstavern.com/">
      <img alt="tavern"
           class="tavern"
           src="/content/images/sponsors/tavern.png">
    </a>
  </div>
  <div class="sponsor woods-container">
    <a href="http://woodsac.com/">
      <img alt="woods"
           class="woods"
           src="/content/images/sponsors/woods.png">
    </a>
  </div>
</div>