<div class="mtbva-weather">
  <div id="roanoke"
       class="weather-city">
    <div class="city-name">
      Roanoke
    </div>
    <div class="temp-icon">
      <span class="temperature"></span>
    </div>
  </div>
  <div id="harrisonburg"
       class="weather-city">
    <div class="city-name">
      Harrisonburg
    </div>
    <div class="temp-icon">
      <span class="temperature"></span>
    </div>
  </div>
  <div id="richmond"
       class="weather-city">
    <div class="city-name">
      Richmond
    </div>
    <div class="temp-icon">
      <span class="temperature"></span>
    </div>
  </div>
</div>