<div id="mtbva-weather"
     class="mtbva-weather">
  <div id="roanoke"
       class="weather-city">
    <div class="city-name">
      Roanoke
    </div>
    <div class="temp-icon">
      <span class="temperature"></span>
    </div>
  </div>
  <div id="harrisonburg"
       class="weather-city">
    <div class="city-name">
      Harrisonburg
    </div>
    <div class="temp-icon">
      <span class="temperature"></span>
    </div>
  </div>
  <div id="richmond"
       class="weather-city">
    <div class="city-name">
      Richmond
    </div>
    <div class="temp-icon">
      <span class="temperature"></span>
    </div>
  </div>
</div>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script>
  $(function($) {
    if (!window.mtbvaWeather) {
      window.mtbvaWeather = {
        roanoke: {},
        harrisonburg: {},
        richmond: {}
      }
      $.ajax(
        window.location.protocol + "//" + window.location.host + "/api/weather"
      ).then(function(res) {
        window.mtbvaWeather = res
        Object.keys(window.mtbvaWeather).forEach(function(key) {
          $("#" + key + " .temperature").text(window.mtbvaWeather[key].temperature + '℉')
          $("#" + key + " .temp-icon").append(
            $("<img>").attr(
              "src",
              "/content/images/weather-icons/" + mtbvaWeather[key].icon + ".svg"
            )
          )
          $("#mtbva-weather").css("visibility", "visible")
        })
      })
    }
  })
  </script>
{{/contentFor}}