{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "results/results"}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
  <div class="inner">
    <label for="race-select">
      Race:
    </label>
    <select id="race-select">
      <option value="middle-mountain-momma-2018">
        Middle Mountain Momma 2018
      </option>
    </select>
    <div id="mtbva-results">
      {{> "results/middle-mountain-momma-2018"}}
    </div>
  </div>
</main>
